* {
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
}
p {
    font-family: 'Roboto';
}
img {
    width: 100%;
}
li {
    list-style: none;
}
.wrapper {
    padding-top: 100px;
}
header.layout {
    position: fixed;
    top: 0;
    height: 91px;
    z-index: 1;
    background: #fff;
    width: 100%;
}
.header-bottom-content {
    display: flex;
    justify-content: space-between;
}
.header_top {
    height: 28px;
    color: white;
    box-sizing: border-box;
    line-height: 28px;
    font-family: Roboto;
    font-size: 11px;
    background: #2b2e34;
    text-align: center;
}
.header_top span {
    text-decoration: underline;
}
.header-bottom {
    height: 63px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.flex-col-1 {
    float: left;
}
.flex-col-2 {
    float: right;
}
.logo {
    padding-top: 18px;
}
.logo a.absolute {
    right: 0;
    top: 32px;
}
.nav-bar {
    padding-top: 20px;
    padding-left: 60px;
}
.nav-bar a {
    text-align: center;
    display: block;
    width: 70px;
    font-family: 'Roboto', sans-serif;
    color: #2b2e34;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
}
.nav-bar a:focus {
    border-bottom: 2px solid #ea006f;
}
.nav-bar ul li {
    display: inline-block;
    width: 70px;
    padding-right: 35px;
}
ul.menu-mb {
    display: flex;
    height: 33px;
    text-align: center;
}
ul.menu-mb li {
    width: 33.333%;
    display: inline-block;
}
ul.menu-mb li a {
    text-decoration: none;
    color: #2b2e34;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
.nav-bar-menu-mb {
    display: none;
    border-top: 2px solid #ebebeb;
    height: 33px;
    box-sizing: border-box;
    background: #fff;
}
.search-bar {
    margin-top: 12px;
}
.search-bar input[type='search'] {
    width: 359px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background: #f8f7f7;
    padding: 0px 17px 0 18px;
    outline: none;
}
.search-bar.relative i.absolute {
    top: 10px;
    right: 15px;
}
.icon-bar ul li {
    display: inline-block;
    padding-left: 26px;
}
.icon-bar {
    margin-top: 21px;
}
.icon-bar ul li a {
    color: #2b2e34;
}
.icon-bar ul li a i {
    height: 20px;
    width: 20px;
}
.icon-bar ul li a i.fa {
    font-size: 20px;
}
.banner-content {
    justify-content: center;
    margin: 0 -7px;
}

.box {
    position: relative;
    margin: 0 7px 14px 7px;
}
.box img {
    width: 100%;
    height: auto;
}
.box-content {
    width: 100%;
    position: absolute;
    bottom: 33px;
    color: #fff;
    text-align: center;
    font-style: normal;
    line-height: normal;
}
.box-content h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.box-content a {
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto';
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: linear-gradient(180deg, rgba(43, 46, 52, 0) 40%, #2b2e34 100%);
}
.introduce {
    padding-bottom: 37px;
}
.overview-content {
    color: #2b2e34;
    text-align: center;
    padding: 26px 0 50px 0;
}
.overview-content .title {
    font-family: 'Montserrat';
}
h1.title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
}
h3.title {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;
}
.overview-content a {
    color: #2b2e34;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.3px;
}
.overview-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
}
.overview-content .text p {
    width: 83%;
    margin: 0 auto;
    padding-bottom: 10px;
}
/* footer */
.banner-footer .title-banner {
    top: 43%;
    width: 50%;
    right: 27px;
}
.title-banner {
    text-align: end;
}
.title-banner h1 {
    color: #2b2e34;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.5px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.title-banner span {
    color: #ea006f;
    font-family: 'Roboto';
    font-weight: 700;
}
.title-banner p {
    color: #2b2e34;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 10px 0 14px 0;
}
.categories {
    width: 100%;
}
.layout-newProduct {
    margin: 0 -7px;
}
.product-item img {
    border-radius: 20px;
}
button.button-layout{
    width: 146px;
    height: 42px;
    border: none;
    background-color: #2b2e34;
    color: #fff;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.footer_layout {
    background: #f8f7f7;
    overflow: hidden;
}
.payment-icon ul li {
    display: inline-block;
}
p.title-footer {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding-bottom: 5px;
}
ul.icon li {
    height: 42px;
    width: 85px;
    padding-right: 6px;
}
li.list-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-family: 'Roboto';
    padding-bottom: 3px;
}
.list-payment ul {
    padding-right: 13px;
    width: 218px;
}
.list-payment ul li a {
    text-decoration: none;
    color: #2b2e34;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
    letter-spacing: 0.3px;
}

.img-ft img {
    width: 115.135px;
    height: 60px;
}
.copyright {
    padding-top: 80px;
}
.copyright p {
    color: #2b2e34;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 200% */
    letter-spacing: 0.236px;
}
.wrap-footer {
    margin: 0 auto;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.between {
    justify-content: space-between;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.banner-footer {
    overflow: hidden;
}
.grid-layout {
    padding: 0;
}
ul.menu-mb li:hover {
    border-bottom: 2px solid #ea006f;
}
.myButton.layout-humburger {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background: #fff;
}
.layout-web .myButton {
    display: none;
}
.layout-humburger {
    width: 100%;
}
.hamburger-button {
    display: none;
}
.list-title-mobile {
    height: 42px;
}
.list-title .list-title-mobile h2 {
    color: #2b2e34;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}
ul.icon li a {
    display: block;
    height: 42px;
}
.list-title-mobile span {
    line-height: 43px;
    display: none;
}
span.material-symbols-outlined {
    font-weight: 200;
    color: #2b2e34;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}
.clicked {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f8f7f7;
}
.clicked a {
    display: block;
    height: 55px;
    width: 55px;
}
.clicked span.material-symbols-outlined {
    padding: 15px 0 0 15px;
}
.payment-icon {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
li.search-icon {
    padding-left: 0px;
}
.copyright {
    padding-bottom: 30px;
}
.slider-donna {
    position: relative;
}
.donna-slider {
    top: 0;
}
.slider-donna {
    margin-top: -9px;
    width: 100%;
}
.slider-donna img {
    width: 100%;
}
.categories h2 {
    color: #2b2e34;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.5px;
}
.categories ul {
    width: 100%;
}
.categories ul li {
    width: 9.0909%;
    text-align: center;
}
.categories ul li img {
    width: 9.0909%;
    border-radius: 15%;
}
.box-categories {
    width: 110px;
    text-align: center;
}
.footer-main {
    max-width: 100%;
    background-color: #f8f7f7;
}
.footer-content {
    flex: 1;
    flex-shrink: 1;
}
button.icon {
    border: none;
    background: transparent;
}
.layuot-hamburger {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.box-categories img {
    border-radius: 15px;
}
.product-box {
    width: 25%;
}
.layout-product-detail {
    width: 100%;
}
.new-productDetail {
    width: 100%;
}
.wrap-newProduct {
    width: 100%;
}
.content-main-donna {
    background-color: #F8F7F7;
    border-radius: 20px;
}

/* Button chatGPT */
.slide-in-menu {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -300px; /* Bắt đầu menu ẩn bên ngoài khung hình */
    background-color: #fff;
    transition: right 0.3s ease; /* Thời gian và kiểu hiệu ứng trượt */
}

.slide-in-menu.open {
    right: 0; /* Hiện menu khi mở */
}
.layout-newProduct h2{
    color: #2B2E34;
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.5px;
}
.new-productSeller {
    margin: 0 -4px;
}
.productseller-item {
    padding: 0 4px;
}
.productseller-item img {
    border-radius: 10%;
}
@media (max-width: 767px) {
    .wrapper {
        padding-top: 123px;
    }
    .header_top {
        padding: 0 16px;
    }
    .box {
        width: 100%;
        margin: 0;
    }
    .flex-col-1 {
        flex: initial;
    }
    .nav-bar {
        height: 33px;
        width: 100%;
    }
    .overview-content {
        text-align: left;
        padding: 0 15px 43px 15px;
    }
    .banner-footer img.desktop {
        display: none;
    }
    .banner-footer img.mobile {
        display: none;
    }
    .banner-footer img.mobile-tablet {
        display: block;
        width: 100%;
    }
    .overview-content .text p {
        margin: 0;
        width: 100%;
    }
    .banner-footer {
        width: 100%;
    }
    .footer-content {
        padding: 25px 16px 0 16px;
        width: 100%;
    }
    .banner-content {
        flex-wrap: wrap;
    }
    .banner-footer .title-banner {
        left: 17px;
        top: 18px;
        width: 50%;
    }
    .title-banner {
        text-align: left;
    }
    .nav-bar {
        display: none;
    }
    .nav-bar-menu-mb {
        display: block;
    }
    .search-bar {
        display: none;
    }
    .header-bottom-content {
        padding: 0 16px;
    }
    .introduce {
        padding-top: 24px;
        padding-bottom: 30px;
    }
    h1.title {
        margin-bottom: 3px;
    }
    .list-payment.flex {
        display: inherit;
    }
    .hamburger-button {
        width: 100%;
        box-sizing: border-box;
        height: 20px;
        display: block;
        margin-right: 11.5px;
    }
    .logo {
        display: flex;
    }
    .fa-navicon:before,
    .fa-reorder:before,
    .fa-bars:before {
        content: '\f0c9';
        width: 20px;
        height: 20px;
    }
    ul.btn-menu {
        display: none;
    }
    .list-title h2 {
        width: 100%;
        color: #2b2e34;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
    }
    .list-title-mobile {
        display: flex;
        border-bottom: 1px solid #e8e8e8;
        height: 42px;
    }
    .list-title-mobile span {
        line-height: 43px;
        display: block;
    }
    .list-title-mobile a {
        text-decoration: none;
        color: #2b2e34;
    }
    .header-bottom {
        height: 56px;
    }
    .hamburger-button i {
        height: 20px;
        width: 20px;
        font-size: 20px;
        color: #2b2e34;
        box-sizing: border-box;
    }
    .img-ft {
        padding-top: 80px;
    }
    .payment-icon {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .logo-home img {
        width: 140px;
    }
    .copyright {
        padding-top: 62px;
        width: 170px;
        /* padding-right: 175px; */
    }
    .img-ft {
        padding-top: 68px;
        padding-bottom: 30px;
    }
    .grid-layout {
        flex-wrap: wrap;
    }
    .list-payment {
        margin-top: 10px;
        border-top: 1px solid #e8e8e8;
    }
}
@media (min-width: 768px) and (max-width: 1123px) {
    .grid-layout {
        flex-wrap: wrap;
    }
    .nav-bar {
        display: none;
    }
    .nav-bar-menu-mb {
        display: block;
    }
    .search-bar {
        display: none;
    }
    .main-content {
        padding: 0 20px;
    }
    .header-bottom-content {
        padding: 0 20px;
    }
    .banner-footer {
        width: 100%;
    }
    .banner-footer img.desktop {
        display: none;
    }
    .banner-footer img.mobile {
        display: block;
        width: 100%;
    }
    .banner-footer img.mobile-tablet {
        display: none;
    }
    .banner-footer .title-banner {
        text-align: left;
        left: 6%;
        top: 10%;
        width: 39%;
    }
    .footer-content {
        width: 100%;
    }
    .wrapper {
        padding-top: 123px;
    }
    .banner-content {
        flex-wrap: wrap;
    }
    .footer-content {
        padding: 25px 20px 0 65px;
        width: 100%;
    }
    .img-ft {
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .list-title .btn-menu {
        display: block !important;
    }
}
@media (min-width: 1124px) {
    .layout-web {
        max-width: 1440px;
        margin: 0 auto;
    }
    .wrap-footer {
        max-width: 1440px;
    }
    .main-content {
        padding: 0 30px;
    }
    .header-bottom {
        margin: 0 auto;
        max-width: 1440px;
    }
    .header-bottom-content {
        padding: 0 30px;
    }
    .footer-content {
        padding: 25px 20px 0 65px;
    }
    .footer-content-bottom {
        padding: 0;
    }
    .banner-footer {
        width: 503px;
    }
    .banner-footer img.mobile {
        display: none;
    }
    .banner-footer img.mobile-tablet {
        display: none;
    }
    .list-title-mobile span {
        display: none;
    }
    .list-title .list-title-mobile h2 {
        height: 42px;
        font-weight: 700;
    }
    .icon-bar .search-icon {
        display: none;
    }
    .img-ft {
        padding-top: 39px;
        padding-bottom: 30px;
    }
    .list-title .btn-menu {
        display: block !important;
    }
}
